<h1>Help#index</h1>
<p>Find me in app/views/help/index.html.erb</p>

<iframe src="http://player.vimeo.com/video/36820781" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
