@mixin transition($transition-parameters...) {
    -webkit-transition: $transition-parameters;
    -moz-transition: $transition-parameters;
    -ms-transition: $transition-parameters;
    -o-transition: $transition-parameters;
    transition: $transition-parameters;
}

// generic transform
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
 
// scale
@mixin scale($scale) {
	 @include transform(scale($scale));
} 
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
       -o-transform-origin: $origin;
      -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
          transform-origin: $origin;
}

html {
  font-family: 'Roboto Slab',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 10pt;
}

.clear {
  clear: both;
}

#header_container {
  
  font-size: 1rem;

  .left.menu { 
    width: 100%;
    text-align: center;
    background: #A8948C;
  }
  
  &.ui.tiered.menu > .left.menu > .item:hover, &.ui.tiered.menu > .left.menu > .active.item {
    color: #022954
  }
  
  #logo_container {
    background-color: #f5f2f0;
    background-image: url(/images/int/logo_background.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: auto;
    background-origin: content-box;
    padding-left: 24em;
    width: 100%;
    height: 147px;
    position: relative;
    @media screen and (max-width: 930px) {
      background-position: center left;
    }
    em {
      position: absolute;
      top: 0.618em;
      left: 1em;
      font-style: italic;
      font-size: 1.4em;
      max-width: 16em;
      z-index: 2;
      margin: 0;
      padding: 0;
    }
    img {
      position: absolute;
      bottom: 0.618em;
      left: 1em;
      z-index: 1;
    }
  }
  
  .sub.menu {
    display: none;
    &.displayed {
      display: block;
    }
    &#event_search {
      font-size: 1em;
      padding: 0.8rem 1rem; 
      .equal.height.row {
        .column {
          padding-top: 0;
          padding-bottom: 0;
          .header.attached {
            display: block;
            padding-left: 1.7em;
          }
          .segment.attached {
            ul li {
              width: 50%;
              display: inline-block;
              margin-right: -1%;
            }
          }
        }
      }
      .row {
        padding: 0;
        margin: 0;
        text-align: center;
        input {
          display: inline-block;
          margin: 1rem 28.75% 0 28.75%;
          width: 42.5%;
        }
      }
    
    }
  }
  
  .ui.steps {
    overflow: visible;
    .step, .step.active {
      font-size: 0.7rem;
      &:last-child {
        padding: 1em 0.4em 1em 2em;
      }
    }
  }
}

#page_container {
  .column {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 1rem;
    &.four.wide {
      width: 26rem;
    }
    &.twelve.wide {
      width: calc(100% - 26rem);
    }
  }
}


#carousel_container { 
  padding-left: 0;
  padding-right: 0;
  position: relative;
  ol {
    height: auto;
    display: block;
    position: relative;
    width: 100%;
    li {
      margin: 0 0 5rem 0;
      padding: 0;
      article {
        margin: 0;
        padding: 2%;
        text-align: justify;
        position: relative;
        @include transition(background-color 8s);
        white-space: nowrap;
        > * {
          white-space: normal;
        }
        h3 {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 1.2em;
          margin: 0.5em 0 0 0;
        }
        h2 {
          margin: 0 0 1rem 0;
          font-size: 2em;
          text-align: left;
          margin: 0;
        }
        .ui.circular.segment {
          width: 6em;
          height: 6em;
          padding: 1em 0.4em;
          box-sizing: padding-box;
          position: absolute;
          top: -1.5em;
          right: 38rem;
          h4 {
            margin: 1.25em 0;
            line-height: 1em;
            font-size: 0.9em;
            @include rotate(-6);
          }
        }
        .basic.segment {
          max-width: 36em;
          padding: 0;
          margin-top: 0.5em;
          display: inline-block;
          aside {
            .item:after {
              clear: none;
            }
            h5 {
              font-weight: lighter;
              text-transform: uppercase;
              font-size: 1em;
              display: inline;
              margin-right: 0.3em;
              font-weight: lighter;
            }
            span.content {
              font-weight: bold;
              padding-bottom: 1rem;
              .ui.label {
                padding: 0.2em 0.4em;
              }
            }
          }
          > p {
            margin-top: 0.5em;
          }
        }
        > img, > .fakeimg {
          display: inline-block;
          vertical-align: top;
          height: 13rem;
          margin: 0 0 0.1em 4%;
          padding: 1em;
          background: none repeat scroll 0% 0% #FFF;
          border: 1px solid #555;
        }
        > .fakeimg {
          width: 8.08rem;
          overflow: hidden;
          p {
            font-size: 1.8em;
            text-align: center;
            padding: 1em 0;
            color: #F7F7F7;
          }
        }
      }
      &.active article {
        background-color: #f3f2f0;
      }
      &:last-child .separator .down.link,
      &:not(:last-child) .separator .up.link {
        display: none;
      }
      &:last-child {
        margin-bottom: 26rem;
      }
    }
  }
}

#map_container {
  display: none;
  .ui.basic.segment {
    padding: 0;
    width: 100%;
    height: 8rem;
    position: relative;
    #tiles, #call_action_location, .loader {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }
    #call_action_location, .loader {
      z-index: 2;
      display: none;
      background: white;
    }
  }
  &:not(.loading):not(.haslocation) .ui.basic.segment:hover #call_action_location {
    display: block;
  }
  &.loading .ui.basic.segment .loader {
    display: block;
  }
}

#steps_container {

  white-space: nowrap;
  
  .button {
    width: 14em;
    margin: 1em calc(50% - 7em);
    white-space: normal;
    text-align: left;
    .icon {
      display: block;
      float: left;
      width: 1em;
      height: 1em;
      margin: 0 0.25em;
    }
  }
  
  ol.steps {
    display: block;
    width: calc(100% - 1rem);
    margin-left: 1rem;
    li {
      white-space: normal;
      padding: 1em 0.3em 1em 2.5em;
      width: 100%;
      cursor: pointer;
      .ui.ribbon.label {
        position: absolute;
        left: -1.2em;
        top: 0.1em;
        width: 2em;
        box-sizing: content-box;
        padding-left: 1rem;
      }
    }
    &.ui.vertical {
      text-align: center;
    }
  }
}



#page_container.header_shifted {
  
  .four.wide.column {
    
    &#steps_container {
      position: fixed;
      top: 0;
      left: auto;
    }
  
    &#map_container.background {
      position: fixed;
      top: 0;
      left: auto;
    }
    
  }
  
}
