@mixin transition($transition-parameters...) {
    -webkit-transition: $transition-parameters;
    -moz-transition: $transition-parameters;
    -ms-transition: $transition-parameters;
    -o-transition: $transition-parameters;
    transition: $transition-parameters;
}

html {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 10pt;
}

.clear {
  clear: both;
}

#header_container {
  
  span.left.menu { 
    float: none;
    white-space: nowrap;
    .item {
      font-size: 1.05rem;
      i.icon {
        border: 1px solid #333333;
        text-shadow: #555555 -0.1em 0.05em 0.35em;
        font-size: 1.2em;
        margin: -0.5em 0.4em -0.5em 0;
        text-align: right;
      }
    }
  }
  
  .sub.menu {
    display: none;
    &.displayed {
      display: block;
    }
    &#event_search {
      font-size: 1em;
    
      padding: 0.8rem 1rem; 
      background-color: rgba(255, 255, 255, 0.2);
      .equal.height.row {
        .column {
          padding-top: 0;
          padding-bottom: 0;
          .header.attached {
            display: block;
            padding-left: 1.7em;
          }
          .segment.attached {
            ul li {
              width: 50%;
              display: inline-block;
              margin-right: -1%;
            }
          }
        }
      }
      .row {
        padding: 0;
        margin: 0;
        text-align: center;
        input {
          display: inline-block;
          margin: 1rem 28.75% 0 28.75%;
          width: 42.5%;
        }
      }
    
    }
  }
  &#user_forms {
    
  }
  
  .ui.steps {
    overflow: visible;
    .step, .step.active {
      font-size: 0.7rem;
      &:last-child {
        padding: 1em 0.4em 1em 2em;
      }
    }
  }
}

#page_container {
  .column {
    margin-bottom: 0;
    margin-top: 0;
  }
}



#carousel_container { 
  padding-left: 0;
  padding-right: 0;
  position: relative;
  ol {
    height: auto;
    display: inline-block;
    position: relative;
    li {
      margin: 0 0 5rem 0;
      padding: 0;
      article {
        margin: 0;
        padding: 2%;
        text-align: justify;
        @include transition(background-color 8s);
        h2 {
          margin: 0 0 1rem 0;
          font-weight: bold;
          font-size: 1.4rem;
          text-align: left;
        }
        aside {
          .item:after {
            clear: none;
          }
          h3 {
            float: left;
            font-weight: bold;
            font-size: 1em;
            display: inline;
            line-height: 1em;
            margin-right: 0.7em;
          }
          p {
            padding-bottom: 1rem;
          }
        }
        > img, > .fakeimg {
          height: 26rem;
          margin: 0 0 0.1em 6%;
          float: right;
          padding: 1em;
          background: none repeat scroll 0% 0% #FFF;
          border: 1px solid #555;
        }
        > .fakeimg {
          width: 16rem;
          p {
            font-size: 2.6em;
            text-align: center;
            padding: 3em 1em;
            color: #F7F7F7;
            
          }
        }
      }
      &.active article {
        background-color: #F9F9F9;
      }
      .separator {
        text-align: center;
        position: relative;
        top: -1.4em;
        .link.icon {
          opacity: 1;
          background: #555555;
        }
      }
      &:last-child .separator .down.link,
      &:not(:last-child) .separator .up.link {
        display: none;
      }
      &:last-child {
        margin-bottom: 26rem;
      }
    }
  }
}

#map_container {
  #tiles {
    width: 100%;
    height: 8rem;
  }
  &.background .leaflet-control-attribution {
    display: none;
  }
}

#steps_container {

  white-space: nowrap;
  ol.steps {
    width: 100%;
    li {
      white-space: normal;
      padding: 1em 0.3em 1em 0.2em;
      width: 100%
    }
    &.ui.vertical {
      text-align: center;
    }
  }
}

#page_container.header_shifted {
  
  .four.wide.column {
  
    &#steps_container {
      position: fixed;
      top: 12rem;
      left: 8%;
      padding-right: 5.25%;
    }
  
    &#map_container.background {
      position: fixed;
      top: 1rem;
      left: auto;
      margin-top: 0;
      padding-right: 5.25%;
    }
    
  }
  
}


#mail_alert_container {
  padding-left: 0;
}

html:not(.geolocation) #home_grid #carousel_container .ui.corner {
  display: none;
}