<a href="#" class="chat">Utilisateurs (<strong>0</strong>)</a>
<div class="subpanel">
	<h3><span>  </span>Friends Online</h3>
	<ul>
		<li><span>Family Members</span></li>
		<li><a href="#"><%= image_tag "images/icons/chat-thumb.gif" %> Your Friend</a></li>
	</ul>
</div>