<h4><li class="icon-fire"></li> Recevoir des alertes par mail</h4>
<form class="well">
<label>Votre Email</label>
<input type="text" class="span2" placeholder="" >
<button type="submit" class="btn btn-info">Valider</button>
</form>