<a class="item header" href="#">Fontaine O Livres</a>

<div class="right menu">
    <a class="item text" href="#login" id="login_form_trigger">Login</a>
</div>

<span class="left menu">
    <a class="item" id="event_search_trigger"><i class="search inverted teal circular icon"></i> Trouver des évènements</a>
    <a class="item" href="#help">Aide</a>
</span>

<form class="ui sub menu form three column stackable grid" id="event_search">

    <div class="equal height row">

        <div class="column item">
          <label class="ui top attached header black">Type de manifestation</label>
          <div class="ui white field segment attached">
            <ul class="ui list">
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon thématique" name="type" />
                    <label>Salon thématique</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon Généraliste" name="type" />
                    <label>Salon Généraliste</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon Professionnel" name="type" />
                    <label>Salon Professionnel</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Festival" name="type" />
                    <label>Festival</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Autre manifestation" name="type" />
                    <label>Autre manifestation</label>
                </p>
              </li>
            </ul>
          </div>
        </div>

        <div class="column item">
          <label class="ui top attached header black">Mois de l'évènement</label>
          <div class="ui white field segment attached">
              
              <ul class="ui list">
                <% for(var i=0; i <= 4; i++) { %>
                    <% var date = new Date(); date.setMonth(date.getMonth() + i); %>
                    <li class="item">
                      <p class="ui checkbox">
                          <input type="checkbox" value="<%= date.getMonth() %>" name="month" />
                          <label><%= date.getMonth() + 1 %> / <%= date.getFullYear() %></label>
                      </p>
                    </li>
                <% } %>
              </ul>
              
          </div>
        </div>

        <div class="column item">
          <label class="ui top attached header black">Thématique</label>
          <div class="ui white field segment attached">
    
            <ul class="ui list">
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Ecologie" name="theme" />
                    <label>Ecologie</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Edition indépendante" name="theme" />
                    <label>Edition indépendante</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Littérature étrangère" name="theme" />
                    <label>Littérature étrangère</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Poésie" name="theme" />
                    <label>Poésie</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Polar" name="theme" />
                    <label>Polar</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Science Fiction" name="theme" />
                    <label>Science Fiction</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Sciences Humaines" name="theme" />
                    <label>Sciences Humaines</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Tourisme Voyage" name="theme" />
                    <label>Tourisme Voyage</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Vie pratique" name="theme" />
                    <label>Vie pratique</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Jeunesse" name="theme" />
                    <label>Jeunesse</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Littérature générale" name="theme" />
                    <label>Littérature générale</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Régionalisme" name="theme" />
                    <label>Régionalisme</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Fantasy" name="theme" />
                    <label>Fantasy</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Art" name="theme" />
                    <label>Art</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon thématique" name="theme" />
                    <label>Musique</label>
                </p>
              </li>
            </ul>
          </div>
        </div>
        
    </div>

    <div class="row">
      <input type="submit" value="Afficher" class="ui teal fluid submit button" />
    </div>

</form>


<div class="ui sub menu three column stackable grid" id="user_forms">
    
    <form class="column ui form" id="login_form">
    
        <label class="ui top attached header black">Log in</label>
    
        <div class="field">
          <label>Email</label>
          <div class="ui left icon input">
            <input placeholder="Email" type="text" name="email">
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="ui left icon input">
            <input type="password" name="password">
            <i class="lock icon"></i>
          </div>
        </div>

        <input type="submit" value="Login" class="ui teal  submit button" />

    </form>
    
    <form class="column ui form" id="account_form">
    
        <label class="ui top attached header black">Créer un compte</label>
    
        <div class="field">
          <label>Email</label>
          <div class="ui left icon input">
            <input placeholder="Email" type="text" name="email">
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="ui left  icon input">
            <input type="password" name="password">
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="field">
          <label>Password Confirmation</label>
          <div class="ui left  icon input">
            <input type="password" name="password_confirmation">
            <i class="lock icon"></i>
          </div>
        </div>

        <input type="submit" value="Créer" class="ui teal  submit button" />

    </form>
    
    <form class="column ui form" id="password_form">
    
        <label class="ui top attached header black">Nouveau mot de passe</label>
    
        <div class="field">
          <label>Email</label>
          <div class="ui left icon input">
            <input placeholder="Email" type="text" name="email">
            <i class="user icon"></i>
          </div>
        </div>

        <input type="submit" value="Créer" class="ui teal  submit button" />

    </form>
    
</div>
