<a class="item header" href="#">Fontaine O Livres</a>

<div class="right menu">
    <span class="item text">email@email.com</span>
    <a class="item text" href="logout">déconnection</a>
</div>

<span class="left menu">
    <a class="item" id="event_search_trigger"><i class="search inverted teal circular icon"></i> Trouver des évènements</a>
    <a class="item" href="#account">Mon compte</a>
    <a class="item" href="#help">Aide</a>
</span>

<form class="ui sub menu form three column stackable grid" id="event_search">

    <div class="equal height row">

        <div class="column item">
          <label class="ui top attached header black">Type de manifestation</label>
          <div class="ui white field segment attached">
            <ul class="ui list">
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon thématique" name="type" />
                    <label>Salon thématique</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon Généraliste" name="type" />
                    <label>Salon Généraliste</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon Professionnel" name="type" />
                    <label>Salon Professionnel</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Festival" name="type" />
                    <label>Festival</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Autre manifestation" name="type" />
                    <label>Autre manifestation</label>
                </p>
              </li>
            </ul>
          </div>
        </div>

        <div class="column item">
          <label class="ui top attached header black">Mois de l'évènement</label>
          <div class="ui white field segment attached">
              
              <ul class="ui list">
                <li class="item">
                  <p class="ui checkbox">
                      <input type="checkbox" value="Juillet" name="month" />
                      <label>Juillet</label>
                  </p>
                </li>
                <li class="item">
                  <p class="ui checkbox">
                      <input type="checkbox" value="Aout" name="month" />
                      <label>Aout</label>
                  </p>
                </li>
                <li class="item">
                  <p class="ui checkbox">
                      <input type="checkbox" value="Septembre" name="month" />
                      <label>Septembre</label>
                  </p>
                </li>
                <li class="item">
                  <p class="ui checkbox">
                      <input type="checkbox" value="Octobre" name="month" />
                      <label>Octobre</label>
                  </p>
                </li>
                <li class="item">
                  <p class="ui checkbox">
                      <input type="checkbox" value="Novembre" name="month" />
                      <label>Novembre</label>
                  </p>
                </li>
                <li class="item">
                  <p class="ui checkbox">
                      <input type="checkbox" value="Décembre" name="month" />
                      <label>Décembre</label>
                  </p>
                </li>
              </ul>
              
          </div>
        </div>

        <div class="column item">
          <label class="ui top attached header black">Thématique</label>
          <div class="ui white field segment attached">
    
            <ul class="ui list">
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Ecologie" name="theme" />
                    <label>Ecologie</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Edition indépendante" name="theme" />
                    <label>Edition indépendante</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Littérature étrangère" name="theme" />
                    <label>Littérature étrangère</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Poésie" name="theme" />
                    <label>Poésie</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Polar" name="theme" />
                    <label>Polar</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Science Fiction" name="theme" />
                    <label>Science Fiction</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Sciences Humaines" name="theme" />
                    <label>Sciences Humaines</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Tourisme Voyage" name="theme" />
                    <label>Tourisme Voyage</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Vie pratique" name="theme" />
                    <label>Vie pratique</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Jeunesse" name="theme" />
                    <label>Jeunesse</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Littérature générale" name="theme" />
                    <label>Littérature générale</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Régionalisme" name="theme" />
                    <label>Régionalisme</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Fantasy" name="theme" />
                    <label>Fantasy</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Art" name="theme" />
                    <label>Art</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon thématique" name="theme" />
                    <label>Musique</label>
                </p>
              </li>
            </ul>
          </div>
        </div>
        
    </div>

    <div class="row">
      <input type="submit" value="Afficher" class="ui teal fluid submit button" />
    </div>

</form>