<a class="item header" href="#">Fontaine O Livres</a>

<div class="right menu">
    <span class="item text">email@email.com</span>
    <a class="item text" href="logout">déconnection</a>
</div>

<span class="left menu">
    <a class="item" id="event_search_trigger"><i class="search inverted teal circular icon"></i> Trouver des évènements</a>
    <a class="item" href="#account">Mon compte</a>
    <a class="item" href="#help">Aide</a>
</span>

<form class="ui sub menu form three column stackable grid" id="event_search">

    <div class="equal height row">

        <div class="column item">
          <label class="ui top attached header black">Type de manifestation</label>
          <div class="ui white field segment attached">
            <ul class="ui list">
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon thématique" name="search[tag_list][]" />
                    <label>Salon thématique</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon thématique" name="search[tag_list][]" />
                    <label>Salon Généraliste</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon thématique" name="search[tag_list][]" />
                    <label>Salon Professionnel</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon thématique" name="search[tag_list][]" />
                    <label>Festival</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon thématique" name="search[tag_list][]" />
                    <label>Autre manifestation</label>
                </p>
              </li>
            </ul>
          </div>
        </div>

        <div class="column item">
          <label class="ui top attached header black">Mois de l'évènement</label>
          <div class="ui white field segment attached">
              
              <ul class="ui list">
                <li class="item">
                  <p class="ui checkbox">
                      <input type="checkbox" value="Salon thématique" name="search[mont][]" />
                      <label>Juillet</label>
                  </p>
                </li>
                <li class="item">
                  <p class="ui checkbox">
                      <input type="checkbox" value="Salon thématique" name="search[mont][]" />
                      <label>Aout</label>
                  </p>
                </li>
                <li class="item">
                  <p class="ui checkbox">
                      <input type="checkbox" value="Salon thématique" name="search[mont][]" />
                      <label>Septembre</label>
                  </p>
                </li>
                <li class="item">
                  <p class="ui checkbox">
                      <input type="checkbox" value="Salon thématique" name="search[mont][]" />
                      <label>Octobre</label>
                  </p>
                </li>
                <li class="item">
                  <p class="ui checkbox">
                      <input type="checkbox" value="Salon thématique" name="search[mont][]" />
                      <label>Novembre</label>
                  </p>
                </li>
                <li class="item">
                  <p class="ui checkbox">
                      <input type="checkbox" value="Salon thématique" name="search[mont][]" />
                      <label>Décembre</label>
                  </p>
                </li>
              </ul>
              
          </div>
        </div>

        <div class="column item">
          <label class="ui top attached header black">Thématique</label>
          <div class="ui white field segment attached">
    
            <ul class="ui list">
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon thématique" name="search[tag_list][]" />
                    <label>Ecologie</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon thématique" name="search[tag_list][]" />
                    <label>Edition indépendante</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon thématique" name="search[tag_list][]" />
                    <label>Littérature étrangère</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon thématique" name="search[tag_list][]" />
                    <label>Poésie</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon thématique" name="search[tag_list][]" />
                    <label>Polar</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon thématique" name="search[tag_list][]" />
                    <label>Science Fiction</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon thématique" name="search[tag_list][]" />
                    <label>Sciences Humaines</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon thématique" name="search[tag_list][]" />
                    <label>Tourisme Voyage</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon thématique" name="search[tag_list][]" />
                    <label>Vie pratique</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon thématique" name="search[tag_list][]" />
                    <label>Jeunesse</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon thématique" name="search[tag_list][]" />
                    <label>Littérature générale</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon thématique" name="search[tag_list][]" />
                    <label>Régionalisme</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon thématique" name="search[tag_list][]" />
                    <label>Fantasy</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon thématique" name="search[tag_list][]" />
                    <label>Art</label>
                </p>
              </li>
              <li class="item">
                <p class="ui checkbox">
                    <input type="checkbox" value="Salon thématique" name="search[tag_list][]" />
                    <label>Musique</label>
                </p>
              </li>
            </ul>
          </div>
        </div>
        
    </div>

    <div class="row">
      <input type="submit" value="Afficher" class="ui teal fluid submit button" />
    </div>

</form>