<div class="four wide left floated column" id="steps_container">
  <ol class="ui vertical steps">
  </ol>
</div>


<div class="twelve wide right floated column" id="carousel_container">
  
  <section id="gallery">
    <a href="javascript:void(0)" class="ui huge teal label">
        <i class="white horizontally flipped browser link icon"></i>
    </a>
    <ol></ol>
  </section>
  
  <section id="map" class="background uninitialized">
    <a href="javascript:void(0)" class="ui huge teal label">
        <i class="white map marker link icon"></i>
    </a>
    <div class="tiles"></div>
  </section>
  
</div>


<div class="four wide left floated column" id="mail_alert_container"></div>

