<section class="twelve wide right floated column" id="carousel_container">
  <ol></ol>
</section>


<section class="background four wide column" id="map_container">
  <div class="ui basic attached segment">

    <div id="tiles"></div>
  </div>
</section>


<aside class="four wide column" id="steps_container">
  <ol class="ui attached vertical steps">
  </ol>
</aside>
