<section class="twelve wide right floated column" id="carousel_container">
  <ol></ol>
</section>


<section class="background four wide column" id="map_container">
  <div class="ui basic segment">

    <div id="tiles"></div>
  </div>
</section>

<aside class="four wide column" id="steps_container">
  
  <div class="circular ui large icon button">
    <img src="/images/int/localisation.png" alt="" class="ui left mini floated image" />
    Localisation géographique
  </div>
  
  <ol class="ui vertical steps">
  </ol>
</aside>
