<a class="item text" href="#" id="">Moncompte</a>
<a class="item text" href="#" id="">Aide</a>

<% if(!authenticated) { %>
    <a class="item text" href="#login" id="login_form_trigger">Login</a>
<% } else { %>
    <span class="item text"><%= email %></span>
    <a class="item text" href="#logout" id="logout_trigger">logout</a>
<% } %>