<h4 class="ui attached top header">
    <i class="fire icon"></i>
    Recevoir des alertes par mail
</h4>
<form class="ui attached form segment" id="mail-alert">
    <div class="ui small fluid field action">
        <div class="ui action input">
            <input placeholder="email" type="text">
            <span class="ui small teal submit button">
                Valider
            </span>
        </div>
    </div>
</form>