<div class="hero-unit" style="text-align:center;">
<h2>Agenda participatif des salons et événements littéraires</h2>
<br/>
<a class="btn btn-primary btn-large" href="/events">
Continuer
</a>
<br/>
<br/>

<p style="text-align:center;">
	 Cet outil coopératif permet de repérer les manifestations littéraires adaptées à son catalogue, d'anticiper sa participation aux événements, et de partager son expérience ou sa présence sur place avec les autres membres du réseau. <br/><br/>
	                                                                                                                                                                                                                                                  L'accès est strictement réservé aux adhérents de <b>Fontaine O
	          Livres</b>, le réseau de professionnels du livre du nord-est
	          francilien. <br/><br/>
			  <li class="icon-warning-sign"></li>
	          Si vous avez perdu votre mot de passe, ou pour nous contacter,
	          envoyez un message à <%= link_to "diffusion@fontaineolivres.com", "mailto:diffusion@fontaineolivres.com" %>
</p>
<p>
</p>
</div>
