<div class="hero-unit" style="text-align:center;">
<h1>Evènements littéraires</h1>
<br/>
<a class="btn btn-primary btn-large" href="/events">
Continuer
</a>
<br/>
<br/>

<p style="text-align:center;">
	 Cet outil coopératif vous permet de repérer les manifestations littéraires les plus adaptées à votre catalogue et vous donne toutes les informations pertinentes pour préparer votre participation en amont.<br/>
    <br/>
	L’accès à ce site est réservé aux adhérents de Fontaine O Livres, le réseau des professionnels du livre du Nord-Est Francilien. Si vous avez perdu votre identifiant et/ou mot de passe envoyez un message à 
	<a href="mailto:gaelle.bohe@fontaineolivre.com">gaelle.bohe@fontaineolivre.com</a>
</p>
<p>
</p>
</div>
