<div class="hero-unit">
<h1>Evènements littéraires</h1>
<p>Pour recevoir votre mot de passe...
	<br/>
	<a href="mailto:gaelle.bohe@fontaineolivre.com">gaelle.bohe@fontaineolivre.com</a>
</p>
<p>
<a class="btn btn-primary btn-large" href="/events">
Continuer
</a>
</p>
</div>
